# Environnement Python
ETL/venv/
__pycache__/
*.pyc

# Environnement Node.js
BDD/node_modules/

# Fichiers de configuration sensibles
BDD/.env

# Fichiers temporaires
*.tmp
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
ETL/notebooks/.ipynb_checkpoints/ 